/* ------------------- */
/* Custom Properties   */
/* ------------------- */
:root {
    --clr-white: white;
    --clr-add-btn-border: #3C3C3C;
    --clr-menu-line: #8B8B8B;
    --clr-remove: #ff5858;
    --clr-order-line: #000;
    --clr-btn-bg: #6D28D9;
    --clr-box-shadow: rgb(86, 86, 86);
    --clr-input-border: #757575;

    --ff-regular: 'Merriweather';
    --ff-interactive: 'Roboto';
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* ------------------- */
/* STYLING BEGINS      */
/* ------------------- */

/* General styles */
body {
    font-family: var(--ff-regular), 'Times New Roman', Times, serif;
}

main {
    padding: 1.5rem;
}

button {
    font-family: var(--ff-interactive), Arial, Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
}

/* Header section */
.diner__header {
    background-image: url(./images/restaurant-header.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem;
    color: var(--clr-white);
}

.diner__name,
.diner__tagline {
    text-shadow: 0rem 0rem 0.2rem black;
}

.diner__name {
    margin-bottom: 0.2rem;
}

/* Menu section */
.menu__food {
    display: flex;
    align-items: center;
    gap: 0.35rem;
}

.menu__food--icon {
    font-size: 3rem;
}

.menu__food--info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu__food--add-btn {
    margin-left: auto;
    background-color: transparent;
    border: 0.07rem solid var(--clr-add-btn-border);
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50rem;
}

.menu__line {
    border: 0.05rem solid var(--clr-menu-line);
    margin: 2rem 0;
}

/* Order List section */
.order__title,
.order__complete {
    text-align: center;
}

.order__title {
    margin: 2rem 0;
}

.order__complete {
    line-height: 1.5;
}

.order__item,
.order__total {
    display: flex;
    align-items: center;
}

.order__item {
    margin-bottom: 0.5rem;
}

.order__remove-btn {
    background-color: transparent;
    border: none;
    color: var(--clr-remove);
    font-size: 0.8rem;
    margin-left: 0.3rem;
    margin-top: 0.1rem;
}

.order__price,
.order__total--price {
    margin-left: auto;
}

.order__line {
    border: 0.09rem solid var(--clr-order-line);
    margin: 1rem 0;
}

.order__submit-btn {
    margin-top: 2rem;
    padding: 0.7rem;
}

.order__submit-btn,
.modal__pay-btn {
    background-color: var(--clr-btn-bg);
    color: var(--clr-white);
    border: none;
    border-radius: 0.15rem;
    width: 100%;
    font-weight: 700;
}

.order__submit-btn:focus,
.modal__pay-btn:focus {
    outline: 0.25rem solid var(--clr-btn-bg);
    outline-offset: 0.1rem;
}

/* Modal */
.modal {
    font-family: var(--ff-interactive), Arial, Helvetica, sans-serif;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    max-width: 90%;
    max-height: 60%;
    background-color: var(--clr-white);
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0rem 0rem 4rem var(--clr-box-shadow);
}

.modal__close--btn {
    display: block;
    top: 0;
    margin-left: auto;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

.modal__title {
    text-align: center;
    margin: 1rem 0 1.5rem;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.modal__input {
    width: 100%;
    border: 0.1rem solid var(--clr-input-border);
}

.modal__input,
.modal__pay-btn {
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.modal__pay-btn {
    margin-top: 0.5rem;
}

/* Utility classes */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.hidden {
    display: none;
}

/* Attribution */
.attribution {
    font-size: 0.6875rem; /* 11px */
    text-align: center;
    padding: 0.5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Screen sizes larger than mobile */
@media only screen and (min-width: 30rem) {
    .modal {
        padding: 2rem;
        max-width: 35rem;
    }
}

/* Tablet screen size */
@media only screen and (min-width: 43.75rem) {
    main {
        padding: 2rem 3rem;
    }

    .diner__header {
        padding: 3rem;
    }

    .modal {
        max-height: 27rem;
    }
}

/* Desktop screen size */
@media only screen and (min-width: 60rem) {
    main {
        padding: 3rem 5rem;
    }

    .diner__header {
        padding: 3rem 5rem;
    }

    .modal {
        max-width: 35rem;
    }
}