/* ------------------- */
/* Custom Properties   */
/* ------------------- */
:root {
    --clr-white: #fff;
    --clr-text: #121212;
    --clr-hero-bg: #4e4e4e;
    --clr-input-border: #7b7b7b;
    --clr-search-btn: #e4e4e4;
    --clr-result-msg: #717171;
    --clr-movie-box-border: #d1d1d1;
    --clr-rating-star: #FEC654;
    --clr-top-btn: #e0e0e0;

    --ff-default: 'Inter';

    --br-search: 0.3em;
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* ------------------- */
/* STYLING BEGINS      */
/* ------------------- */

/* Flex containers */
body,
.hero,
.results,
.results__empty,
.watchlist {
    display: flex;
    align-items: center;
}

body,
.results,
.results__empty,
.watchlist {
    flex-direction: column;
}

.hero,
.results__empty {
    gap: 1em;
}

.results,
.watchlist {
    gap: 2em;
}

.hero {
    justify-content: space-between;
}

/* Grid containers */
.search,
.movie {
    display: grid;
}

.search {
    gap: 0.5em;
}

.movie {
    gap: 1em;
}

/* General Styles */
body {
    font-family: var(--ff-default), Arial, Helvetica, sans-serif;
    color: var(--clr-text);
}

button:hover {
    cursor: pointer;
}

/* Hero section */
.hero,
.hero__nav {
    color: var(--clr-white);
}

.hero {
    width: 100%;
    min-height: 10rem;
    background-color: var(--clr-hero-bg);
    background-image: url(./images/header-img.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: var(--clr-white);
    padding: 1.5em;
}

.hero__nav {
    font-weight: 700;
    text-decoration: none;
    text-align: right;
}

/* Search form */
.search,
.results,
.watchlist {
    max-width: 90%;
}

.search {
    margin-top: -1.2em;
    font-size: 1.1rem;
}

.search__wrapper {
    position: relative;
}

.search__wrapper i {
    position: absolute;
    top: 0.65em;
    left: 1em;
}

.search__input,
.search__btn {
    border: 0.1em solid var(--clr-input-border);
}

.search__input:focus,
.search__btn:focus {
    outline: 0.15em solid var(--clr-input-border);
}

.search__input {
    padding: 0.3em 1em 0.3em 2.5em;
    border-radius: var(--br-search);
}

.search__btn {
    border-radius: var(--br-search);
    padding: 0.3em 2em;
    background-color: var(--clr-search-btn);
}

/* Results and Watchlist containers */
.results,
.watchlist {
    margin-top: 2em;
}

.results__empty,
.watchlist__empty {
    padding: 2em;
    text-align: center;
}

.fa-film,
.result__nosearch,
.result__heading,
.result__error {
    color: var(--clr-result-msg);
}

.fa-film {
    font-size: 4rem;
}

.result__heading,
.result__error {
    text-align: center;
    align-self: center;
}

.result__heading {
    margin-bottom: 0.5em;
}

.movie {
    padding-bottom: 1.5em;
    border-bottom: 0.2em solid var(--clr-movie-box-border);
    grid-template-areas:
        'post post'
        'titl titl'
        'rate time'
        'genr genr'
        'bttn bttn'
        'plot plot';
}

.movie:last-child {
    border-bottom: 0;
}

.movie__poster {
    grid-area: post;
    margin: 0 auto;
}

.movie__title {
    grid-area: titl;
}

.movie__rating {
    grid-area: rate;
}

.fa-star {
    color: var(--clr-rating-star);
}

.movie__runtime {
    grid-area: time;
    grid-column: auto;
}

.movie__genre {
    grid-area: genr;
}

.movie__plot {
    grid-area: plot;
}

.movie__watchlist--btn {
    grid-area: bttn;
    border: 0.1em solid var(--clr-text);
    border-radius: 0.3em;
    background-color: inherit;
    padding: 0.3em 0.6em;
}

.movie__watchlist--btn:focus {
    outline: 0.2em solid var(--clr-text);
}

.watchlist__empty {
    font-weight: 700;
    font-size: 1.2rem;
}

.watchlist__empty--text {
    color: var(--clr-result-msg);
    margin-bottom: 1em;
}

/* Scrool to Top Button */
.top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    border: none;
    background-color: var(--clr-top-btn);
    border-radius: 0.3em;
    padding: 0.4em;
}

.top-btn img {
    width: 1.6rem;
}

/* Utility classes */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.hidden {
    display: none;
}

/* Screen sizes larger than mobile */
@media only screen and (min-width: 30rem) {
    .hero {
        min-height: 12rem;
        padding: 1.5em 2.5em;
    }

    .search {
        grid-template-columns: 2fr 1fr;
        gap: 0;
    }

    .search__input {
        border-radius: var(--br-search) 0 0 var(--br-search);
    }

    .search__btn {
        border-radius: 0 var(--br-search) var(--br-search) 0;
    }
}

/* Tablet screen size */
@media only screen and (min-width: 43.75rem) {}

/* Desktop screen size */
@media only screen and (min-width: 60rem) {
    .hero {
        padding: 2em 5em;
    }

    .search,
    .results,
    .watchlist {
        max-width: 60rem;
    }
}