/* ------------------- */
/* Custom Properties   */
/* ------------------- */
:root {
    --clr-text: #121212;
    --clr-input-border: #7b7b7b;
    --clr-search-btn: #e4e4e4;
    --clr-movie-box-border: #d1d1d1;
    --clr-rating-star: #FEC654;

    --ff-default: 'Inter';

    --br-search: 0.3em;
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* ------------------- */
/* STYLING BEGINS      */
/* ------------------- */

/* Flex containers */
body,
.hero,
.results,
.watchlist {
    display: flex;
    align-items: center;
}

body,
.results,
.watchlist {
    flex-direction: column;
}

/* Grid containers */
.search {
    display: grid;
    gap: 0.5em;
}

/* General Styles */
body {
    font-family: var(--ff-default), Arial, Helvetica, sans-serif;
    color: var(--clr-text);
}

/* Search form */
.search,
.results,
.watchlist {
    max-width: 90%;
}

.search__wrapper {
    position: relative;
}

.search__wrapper i {
    position: absolute;
    top: 0.65em;
    left: 1em;
}

.search__input,
.search__btn {
    border: 0.1em solid var(--clr-input-border);
}

.search__input:focus,
.search__btn:focus {
    outline: 0.15em solid var(--clr-input-border);
}

.search__input {
    padding: 0.3em 1em 0.3em 2.5em;
    border-radius: var(--br-search);
}

.search__btn {
    border-radius: var(--br-search);
    padding: 0.3em 2em;
    background-color: var(--clr-search-btn);
}

/* Results and Watchlist containers */
.movie {
    padding: 2em 0;
    border-bottom: 0.2em solid var(--clr-movie-box-border);
}

.movie:last-child {
    border-bottom: 0;
}

.fa-star {
    color: var(--clr-rating-star);
}

/* Utility classes */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

/* Screen sizes larger than mobile */
@media only screen and (min-width: 30rem) {
    .search {
        grid-template-columns: 2fr 1fr;
        gap: 0;
    }

    .search__input {
        border-radius: var(--br-search) 0 0 var(--br-search);
    }

    .search__btn {
        border-radius: 0 var(--br-search) var(--br-search) 0;
    }
}

/* Tablet screen size */
@media only screen and (min-width: 43.75rem) {}

/* Desktop screen size */
@media only screen and (min-width: 60rem) {
    .search,
    .results,
    .watchlist {
        max-width: 60rem;
    }
}