/* ------------------- */
/* Custom Properties   */
/* ------------------- */
:root {
    --ff-default: 'Source Sans 3';

    --clr-white: #ffffff;
    --clr-journal-title: #0E0E0E;
    --clr-nav-link: #090909;
    --clr-hero-bg: #6b6b6b;
    --clr-text-shadow: #000;
    --clr-blog-title: #141414;
    --clr-blog-summary: #505050;
    --clr-footer-bg: #202020;
    --clr-footer-link: #C4B5FD;
    --clr-footer-copyright: #D7D7D7;
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* ------------------- */
/* STYLING BEGINS      */
/* ------------------- */

/* General styles */
body {
    font-family: var(--ff-default), Arial, Helvetica, sans-serif;
}

/* Navigation bar section */
.navbar,
.navbar__title {
    display: flex;
}

.navbar {
    justify-content: space-between;
    padding: 0.5em 1em;
    grid-template-columns: auto auto 1fr auto;
}

.navbar__title {
    gap: 1em;
}

.navbar__links {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.navbar__logo,
.navbar__name {
    justify-self: start;
    align-self: center;
}

.navbar__logo {
    width: 2.5rem;
    object-fit: contain;
}

.navbar__links {
    justify-self: end;
    list-style: none;
    padding: 0;
    text-align: center;
}

.navbar__links li {
    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
}

/* Hero section */
.hero {
    min-height: 23rem;
    background-color: var(--clr-hero-bg);
    background-image: url(../images/hero-image.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: var(--clr-white);
    padding: 1.5em;
    display: grid;
    grid-template: 1fr 1fr 1fr / auto;
    gap: 1em;
}

.hero__title,
.hero__desc {
    align-self: end;
    text-shadow: 0 0 0.1em var(--clr-text-shadow), 0 0 0.1em var(--clr-text-shadow);
}

.hero__title {
    grid-row: 4;
}

.hero__desc {
    grid-row: 5;
}

/* Posts container */
.posts {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

/* Attribution */
.footer {
    text-align: center;
    background-color: var(--clr-footer-bg);
    color: var(--clr-white);
    padding: 2em 1em;
}

.footer a {
    color: var(--clr-footer-link);
}

.footer__title {
    font-weight: 700;
}

.footer__copyright {
    color: var(--clr-footer-copyright);
}