/* ------------------- */
/* Custom Properties   */
/* ------------------- */
:root {
    --ff-default: 'Inter';

    --clr-txt-default: #121212;
    --clr-result-focus: #000;

    --ht-result-color: 8rem;
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* ------------------- */
/* STYLING BEGINS      */
/* ------------------- */

/* Flex Containers */
body,
main,
.results {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* General Styles */
body {
    font-family: var(--ff-default), Arial, Helvetica, sans-serif;
    color: var(--clr-txt-default);
    padding: 1em 0;
    gap: 1em;
}

main {
    min-width: 20rem;
    gap: 1.5em;
}

/* Form Container */
.form {
    width: 100%;
    display: grid;
    gap: 0.7em;
    grid-template-areas:
        'seed mode mode'
        'btn btn btn';
}

.form * {
    cursor: pointer;
    height: 2.5rem;
}

.form__seed-color {
    grid-area: seed;
    min-width: 4rem;
    width: auto;
}

.form__color-scheme {
    grid-area: mode;
    width: auto;
}

.form__btn {
    grid-area: btn;
}

/* Results Section */
.results,
.result,
.result__color {
    width: 100%;
}

.results {
    min-height: 15rem;
    gap: 1em;
}

.result {
    height: 100%;
}

.result__color,
.result__value {
    cursor: pointer;
}

.result__color {
    min-height: var(--ht-result-color);
}

.result__color:focus {
    border: 0.2em solid var(--clr-result-focus);
}

.result__value {
    display: block;
    margin: 0 auto;
}

/* Attribution */
.attribution {
    font-size: 0.6875rem; /* 11px */
    text-align: center;
    padding-top: 0.5em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Utility Classes */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

/* Screen sizes larger than mobile */
@media only screen and (min-width: 30rem) {
    main {
        width: 90%;
    }

    .form {
        grid-template-areas: 'seed mode mode mode btn btn btn';
    }

    .results {
        flex-direction: row;
        gap: 0em;
    }

    .result__color {
        min-height: calc(var(--ht-result-color) * 2);
    }
}

/* Tablet screen size */
@media only screen and (min-width: 43.75rem) {
    main {
        max-width: 50rem;
    }
}

/* Desktop screen size */
@media only screen and (min-width: 60rem) {}